@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0.25rem;
}

body{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1 + p{
    display: inline-block;
    width: 30%;
}

input{
    width: 15rem;
    border-radius: 4px;
    border: 1px solid black;
}

#form{
    padding: 2rem;
    display: inline-block;
    box-shadow: 5px 5px 10px #888;
    width: max-content;
}